= form_for @template do |f|
  - if @template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@template.errors.count, "error")} prohibited this template from being saved:"
      %ul
        - @template.errors.full_messages.each do |msg|
          %li= msg


  .pure-g
    .field.pure-u-1.pure-u-md-1-4
      %h1 Vorlage erstellen / bearbeiten
    .field.pure-u-1.pure-u-md-1-4
      %br
      %b
        = f.label :title
        = f.text_field :title

  = f.fields_for :css_parts do |ff|
    - if ff.object.id.present?
      = ff.hidden_field :id
      .pure-g
        .field.pure-u-1.pure-u-md-1-12
          = "<head>"
          %br
          css
        .field.pure-u-1.pure-u-md-11-12
          = ff.text_area :text, rows: 18, cols: 80, class: "edit_template"

  .pure-g
    .field.pure-u-1.pure-u-md-1-12
      = f.label :meta
      .actions
        = f.submit 'Save', class: "pure-button pure-button-primary submit-button"
        - if @template.persisted?
          = link_to 'Neues CSS Fragment', new_template_element_css_part_path(@template), 'class': 'pure-button'
          = link_to 'Neues HTML Fragment', new_template_element_html_part_path(@template), 'class': 'pure-button'
    .field.pure-u-1.pure-u-md-11-12
      = f.text_area :meta, rows: 18, cols: 80, class: "edit_template"
      = "</head><body>"

  - index = 1
  = f.fields_for :html_parts do |ff|
    - if ff.object.id.present?
      = ff.hidden_field :id
      .pure-g
        .field.pure-u-1.pure-u-md-1-12
          html
          %br
          %br
          .actions
            = f.submit 'Save', class: "pure-button pure-button-primary submit-button"
            - if @template.persisted?
              = link_to 'Neues CSS Fragment', new_template_element_css_part_path(@template), 'class': 'pure-button'
              = link_to 'Neues HTML Fragment', new_template_element_html_part_path(@template), 'class': 'pure-button'
        .field.pure-u-1.pure-u-md-11-12
          = ff.text_area :text, rows: 18, cols: 80, class: "edit_template"
          = "</body>"
