%p#notice= notice

%p
  %b Title:
  %span.title= @template.title
%p
  %b Meta:
  %span.meta= @template.meta

-@template.css_parts.each do |css_part|
  %p
    %b= "CSS Part ##{css_part.id}"
    %br
    %span.css_part= css_part
    %br
    %div= link_to 'Destroy', template_element_css_part_path(@template, css_part), :method => :delete, :data => { :confirm => 'Are you sure?' }, 'class': 'pure-button'

-@template.html_parts.each do |html_part|
  %p
    %b= "Html Part ##{html_part.id}"
    %br
    %span.html_part= html_part
    %br
    %div= link_to 'Destroy', template_element_html_part_path(@template, html_part), :method => :delete, :data => { :confirm => 'Are you sure?' }, 'class': 'pure-button'

= link_to 'Edit', edit_template_element_path(@template)
\|
= link_to 'Back', overviews_path
