%p#notice= notice

%p
  %b Title:
  = @js_file.title
%p
  %b Page id:
  = @js_file.page_id
%p
  %b Text:
  = @js_file.text
%p
  %b Position:
  = @js_file.position
%p
  %b Code:
  = @js_file.code

= link_to 'Edit', edit_js_file_path(@js_file)
\|
= link_to 'Back', overviews_path
