= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :index
    = f.text_field :index
  .field
    = f.label :page_id
    = f.text_field :page_id
  .field
    = f.label :template_id
    = f.text_field :template_id
  .field
    = f.label :text
    = f.text_area :text, rows: 9, cols: 100, class: "edit_template"
  .actions
    = f.submit 'Save'
