- messages = local_assigns.fetch(:messages)
- edit_filter_page = local_assigns.fetch(:page)
- pages = local_assigns.fetch(:pages)
- articles = local_assigns.fetch(:articles)
- pictures = local_assigns.fetch(:pictures)
- videoelements = local_assigns.fetch(:videoelements)
- textelements = local_assigns.fetch(:textelements)
- urlelements = local_assigns.fetch(:urlelements)
- pdf_files = local_assigns.fetch(:pdf_files)
- templates = local_assigns.fetch(:templates)
- html_parts = local_assigns.fetch(:html_parts)
- css_parts = local_assigns.fetch(:css_parts)
- users = local_assigns.fetch(:users)

.pure-g
  - unless Page.editingPage
    .pure-u-1.messages
      %h1 Welche Seite willst du bearbeiten?
      .pure-u-1.pure-u-md-1-3
        .pages
          %table
            %thead
              %tr
                %th.cell ID
                %th.cell Title
                %th.cell Pfad
                %th.cell

            %tbody
              - pages.each do |page|
                - filtered_page = if page.edit_filter == 1 then "filtered-page" else "" end
                %tr{ class: filtered_page}
                  %td.cell= page.id
                  %td.cell= page.title
                  %td.cell= link_to page.url, page.url
                  %td.cell= link_to 'wählen', "/overviews?page_id=#{page.id}#cms", 'class': 'pure-button'
  - else
    - @page = Page.editingPage
    .pure-u-1.pure-u-md-1-3
      .pages
        %br
        %h1 Seite:
        %table
          %tbody
            - filtered_page = if page.edit_filter == 1 then "filtered-page" else "" end
            %tr{ class: filtered_page}
              %td.cell= page.title
              %td.cell= link_to page.url, page.url
              %td.cell= link_to 'andere Seite', "/overviews?page_id=nil#cms", 'class': 'pure-button'
      %br
      = form_for @page do |f|
        - if @page.errors.any?
          #error_explanation
            %h2= "#{pluralize(@page.errors.count, "error")} Es wurde das Speichern verhindert."
            %ul
              - @page.errors.full_messages.each do |msg|
                %li= msg

        .field
          = f.label :title
          = f.text_field :title, class: "page_title"
        .field
          = f.label :path
          = f.text_field :path, class: "page_path"
        .field
          = f.label :template_element_id
          = TemplateElement.render_dropdown("page", "template_element_id", f.object.template_element&.title)
        .actions
          = f.submit 'Save'


    %br
  - if current_user.is_admin?
    .pure-u-1.messages
      %h1 Nachrichten

      %table
        %thead
          %tr
            %th.cell.cell-big Time
            %th.cell.cell-big Msg
            %th.cell.cell-big Name
            %th.cell.cell-big Email
            %th.cell
            %th.cell
            %th.cell

        %tbody
          - messages.each do |message|
            %tr
              %td.cell.cell-important= message.created_at.strftime("%F %T")
              %td.cell.cell-important= message.msg
              %td.cell.cell-important= message.name
              %td.cell.cell-important= message.email
              %td.cell.cell-important= link_to 'Show', message, 'class': 'pure-button'
              %td.cell.cell-important= link_to 'Edit', edit_message_path(message), 'class': 'pure-button'
              %td.cell.cell-important= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }, 'class': 'pure-button'

      %br

    .pure-u-1.pure-u-md-1-3
      .pages
        %h1 Seiten

        %table
          %thead
            %tr
              %th.cell ID
              %th.cell Title
              %th.cell Path
              %th.cell
              %th.cell
              %th.cell
              %th.cell

          %tbody
            - pages.each do |page|
              - filtered_page = if page.edit_filter == 1 then "filtered-page" else "" end
              %tr{ class: filtered_page}
                %td.cell= page.id
                %td.cell= page.title
                %td.cell= link_to page.url, page.url
                %td.cell= link_to 'Filter', "/overviews?page_id=#{page.id}#cms", 'class': 'pure-button'
                %td.cell= link_to 'Show', page, 'class': 'pure-button'
                %td.cell= link_to 'Edit', edit_page_path(page), 'class': 'pure-button'
                %td.cell= link_to 'Destroy', page, method: :delete, data: { :confirm => 'Are you sure?' }, 'class': 'pure-button'

        %br

        = link_to 'Neue Seite', new_page_path, 'class': 'pure-button new-page-button'
        = link_to 'Reset Filter', "/overviews?page_id=nil#cms", 'class': 'pure-button'

      %br
      %br
      .templates
        %h1 Vorlagen

        %table
          %thead
            %tr
              %th ID
              %th Title
              %th
              %th
              %th
              %th
              %th

          %tbody
            - templates.each do |template|
              %tr
                %td.cell= template.id
                %td.cell= template.title
                %td.cell= link_to 'Show', template, 'class': 'pure-button'
                %td.cell= link_to 'Edit', edit_template_element_path(template), 'class': 'pure-button'
                %td.cell= link_to 'New Html', new_template_element_html_part_path(template), 'class': 'pure-button'
                %td.cell= link_to 'New Css', new_template_element_css_part_path(template), 'class': 'pure-button'
                %td.cell= link_to 'Destroy', template, :method => :delete, :data => { :confirm => 'Are you sure?' }, 'class': 'pure-button'

        %br

        = link_to 'Neue Vorlage', new_template_element_path(page_id: edit_filter_page&.id), 'class': 'pure-button new-template-button'

      %br
      %br

      .users
        %h1 Benutzer

        %table
          %thead
            %tr
              %th Lang
              %th Name
              %th Mail
              %th
              %th
              %th

          %tbody
            - users.each do |user|
              %tr
                %td.cell= user.lang
                %td.cell= user.name
                %td.cell= user.email
                %td.cell= link_to 'Show', user, 'class': 'pure-button'
                %td.cell= link_to 'Edit', edit_user_path(user), 'class': 'pure-button'
                %td.cell= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, 'class': 'pure-button'

        %br

        = link_to 'Neuer Benutzer', new_user_path, 'class': 'pure-button new-user-button'




    .pure-u-1.pure-u-md-2-3.textelements
      .pure-g
        .pure-u-1.pure-u-md-1-2.textelements
          %h1 Texte

          %table
            %thead
              %tr
                %th Title
                %th Index
                %th
                %th
                %th

            %tbody
              - textelements.each do |textelement|
                %tr
                  %td.cell= textelement.title
                  %td.cell= textelement.index
                  %td.cell= link_to 'Show', textelement_path(textelement), 'class': 'pure-button'
                  %td.cell= link_to 'Edit', edit_textelement_path(textelement), 'class': 'pure-button'
                  %td.cell= link_to 'Destroy', textelement_path(textelement), method: :delete, data: { :confirm => 'Are you sure?' }, 'class': 'pure-button'


          %br

          = link_to 'Neuer Text', new_textelement_path(page_id: edit_filter_page&.id), 'class': 'pure-button new-article-button'


        .pure-u-1.pure-u-md-1-2.pictures
          %h1 Bilder

          %table
            %thead
              %tr
                %th Title
                %th
                %th
                %th

            %tbody
              - pictures.each do |picture|
                %tr
                  %td.cell= picture.title
                  %td.cell= link_to 'Show', picture_path(picture), 'class': 'pure-button'
                  %td.cell= link_to 'Edit', edit_picture_path(picture), 'class': 'pure-button'
                  %td.cell= link_to 'Destroy', picture_path(picture), method: :delete, data: { :confirm => 'Are you sure?' }, 'class': 'pure-button'

          %br

          = link_to 'Neues Bild', new_picture_path(page_id: edit_filter_page&.id), 'class': 'pure-button new-picture-button'

        .pure-u-1.pure-u-md-1-2.videoelements
          %h1 Videos

          %table
            %thead
              %tr
                %th Title
                %th
                %th
                %th

            %tbody
              - videoelements.each do |videoelement|
                %tr
                  %td.cell= videoelement.title
                  %td.cell= link_to 'Show', videoelement_path(videoelement), 'class': 'pure-button'
                  %td.cell= link_to 'Edit', edit_videoelement_path(videoelement), 'class': 'pure-button'
                  %td.cell= link_to 'Destroy', videoelement_path(videoelement), method: :delete, data: { :confirm => 'Are you sure?' }, 'class': 'pure-button'

          %br

          = link_to 'Neues Video', new_videoelement_path(page_id: edit_filter_page&.id), 'class': 'pure-button new-videoelement-button'

        .pure-u-1.pure-u-md-1-2.urlelements
          %h1 Links

          %table
            %thead
              %tr
                %th Title
                %th Index
                %th
                %th
                %th

            %tbody
              - urlelements.each do |urlelement|
                %tr
                  %td.cell= urlelement.title
                  %td.cell= urlelement.index
                  %td.cell= link_to 'Show', urlelement_path(urlelement), 'class': 'pure-button'
                  %td.cell= link_to 'Edit', edit_urlelement_path(urlelement), 'class': 'pure-button'
                  %td.cell= link_to 'Destroy', urlelement_path(urlelement), method: :delete, data: { :confirm => 'Are you sure?' }, 'class': 'pure-button'

          %br

          = link_to 'Neuen Link', new_urlelement_path(page_id: edit_filter_page&.id), 'class': 'pure-button new-urlelement-button'
        .pure-u-1.pure-u-md-1-2.pdf_files
          %h1 Pdf Files

          %table
            %thead
              %tr
                %th Title
                %th Index
                %th
                %th
                %th

            %tbody
              - pdf_files.each do |pdf_file|
                %tr
                  %td.cell= pdf_file.title
                  %td.cell= pdf_file.index
                  %td.cell= link_to 'Show', pdf_file_path(pdf_file), 'class': 'pure-button'
                  %td.cell= link_to 'Edit', edit_pdf_file_path(pdf_file), 'class': 'pure-button'
                  %td.cell= link_to 'Destroy', pdf_file_path(pdf_file), method: :delete, data: { :confirm => 'Are you sure?' }, 'class': 'pure-button'

          %br

          = link_to 'Neues Pdf File', new_pdf_file_path(page_id: edit_filter_page&.id), 'class': 'pure-button new-pdf-file-button'


    .pure-u-1.pure-u-md-1.positions
      %h1 Positionen

      %table
        %thead
          %tr
            %th Name
            %th

        %tbody
          - positions.each do |position|
            %tr
              %td.cell= position.name
              %td.cell= link_to 'Destroy', position, :method => :delete, :data => { :confirm => 'Are you sure?' }, 'class': 'pure-button'

      %br

      = link_to 'Neue Position', new_position_path, 'class': 'pure-button new-position-button'
