= form_for [@html_part.template, @html_part] do |f|
  - if @html_part.errors.any?
    #error_explanation
      %h2= "#{pluralize(@html_part.errors.count, "error")} prohibited this html_part from being saved:"
      %ul
        - @html_part.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :index
    = f.number_field :index
  .field
    = f.label :template_id
    = f.number_field :template_id
  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :is_last
    = f.check_box :is_last
  .actions
    = f.submit 'Save'
