%p#notice= notice

%p
  %b Index:
  = @html_part.index
%p
  %b Text:
  = @html_part.text
%p
  %b Is last:
  = @html_part.is_last

= link_to 'Edit', edit_template_html_part_path(@html_part.template, @html_part)
\|
= link_to 'Back', overviews_path
