= raw @page.render_head
%body
  .pure-menu-fixed.notice
    - if notice.present?
      %p.notice
        = notice
    - if user_signed_in?
      %a.pure-button.pure-button-primary{ href: '/overviews' }= 'Admin Backend'
    - if alert.present?
      %p.alert
        = alert
  = raw @page.render
