= form_for [@urlelement] do |f|
  - if @urlelement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@urlelement.errors.count, "error")} prohibited this urlelement from being saved:"
      %ul
        - @urlelement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :position
    = Position.render_dropdown("urlelement", "position", f.object.position)
  .field
    = f.label :template_element_id
    = TemplateElement.render_dropdown("urlelement", "template_element_id", f.object.template_element&.title)
  .field
    = f.label :page_id
    = f.text_field :page_id
  .field
    = f.label :text
    = f.text_area :text, rows: 5, cols: 100, class: "edit_template"
  .field
    = f.label :target_path
    = f.text_field :target_path
  .field
    = f.label :data_text
    = f.text_area :data_text, rows: 5, cols: 100, class: "edit_template"

  .actions
    = f.submit 'Save'
