%h1 Listing css_parts

%table
  %thead
    %tr
      %th Index
      %th
      %th
      %th

  %tbody
    - @css_parts.each do |css_part|
      %tr
        %td= css_part.index
        %td= link_to 'Show', css_part
        %td= link_to 'Edit', edit_css_part_path(css_part)
        %td= link_to 'Destroy', css_part, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Css part', new_css_part_path
