%p#notice= notice

%p
  %b Index:
  = @css_part.index
%p
  %b Text:
  = @css_part.text
%p
  %b Is last:
  = @css_part.is_last

= link_to 'Edit', edit_css_part_path(@css_part)
\|
= link_to 'Back', css_parts_path
