= form_for [@picture] do |f|
  - if @picture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@picture.errors.count, "error")} prohibited this picture from being saved:"
      %ul
        - @picture.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :position
    = Position.render_dropdown("picture", "position", f.object.position)
  .field
    = f.label :template_element_id
    = TemplateElement.render_dropdown("picture", "template_element_id", f.object.template_element&.title)
  .field
    = f.label :page_id
    - Page.all.each do |page|
      %br
      = "#{page.title} (#{page.id})"
      - if f.object.page_ids.include? page.id
        = check_box "picture", "page_ids", { multiple: true, checked: true }, page.id, nil
      - else
        = check_box "picture", "page_ids", { multiple: true, checked: false }, page.id, nil
  .field
    = f.label :image
    = f.file_field :image

    - if @picture.image?
      = image_tag(@picture.image.url, alt: 'Image')

      = label_tag :remove_image do
        Remove image
        = f.check_box :remove_image

  .actions
    = f.submit 'Save'
