= form_for [@videoelement] do |f|
  - if @videoelement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@videoelement.errors.count, "error")} prohibited this videoelement from being saved:"
      %ul
        - @videoelement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :position
    = Position.render_dropdown("videoelement", "position", f.object.position)
  .field
    = f.label :page_id
    - f.object.pages do |page|
      = "#{page.name} (#{page.id})"

  .field
    = f.label :video
    = f.file_field :video

    - if @videoelement.video?
      %video{ :width => 400, :controls => true }
        %source{ :src => @videoelement.video.url, :type => 'video/mp4'}
        = "Your browser does not support HTML5 video."
      = @videoelement.video.url

      = label_tag :remove_video do
        Remove video
        = f.check_box :remove_video

  .actions
    = f.submit 'Save'
