%p#notice= notice

%p
  %b Title:
  = @videoelement.title
%p
  %b Page id:
  = @videoelement.page_id
%p
  %b Text:
  = @videoelement.text
%p
  %b Position:
  = @videoelement.position
%p
  %b Code:
  = @videoelement.code

= link_to 'Edit', edit_videoelement_path(@videoelement)
\|
= link_to 'Back', overviews_path
