= form_for @transaction do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :invoice_date
    = f.text_field :invoice_date
  .field
    = f.label :total
    = f.text_field :total
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :from_id
    = f.text_field :from_id
  .field
    = f.label :to_id
    = f.text_field :to_id
  .actions
    = f.submit 'Save'
