%h1 Listing transactions

%table
  %thead
    %tr
      %th Total
      %th Name
      %th From
      %th To
      %th
      %th
      %th

  %tbody
    - @transactions.each do |transaction|
      %tr
        %td= transaction.total
        %td= transaction.name
        %td= transaction.from
        %td= transaction.to
        %td= link_to 'Show', transaction
        %td= link_to 'Edit', edit_transaction_path(transaction)
        %td= link_to 'Destroy', transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Transaction', new_transaction_path
