= form_for [@textelement] do |f|
  - if @textelement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@textelement.errors.count, "error")} prohibited this textelement from being saved:"
      %ul
        - @textelement.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :position
    = Position.render_dropdown("textelement", "position")
  .field
    = f.label :page_id
    = f.text_field :page_id
  .field
    = f.label :template_id
    = f.text_field :template_id
  .field
    = f.label :text
    = f.text_area :text, rows: 9, cols: 100, class: "edit_template"

  .actions
    = f.submit 'Save'
