%p#notice= notice

%p
  %b Title:
  = @textelement.title
%p
  %b Page id:
  = @textelement.page_id
%p
  %b Text:
  = @textelement.text
%p
  %b Position:
  = @textelement.position
%p
  %b Code:
  = @textelement.code

= link_to 'Edit', edit_textelement_path(@textelement)
\|
= link_to 'Back', overviews_path
