- if ContentPart::FILES.include?(@content_part.type)
  %h1
    = "Datei: #{@content_part.position}"
  = link_to 'andere Datei', "/overviews?content_part_id=nil#cms", 'class': 'pure-button'
-else
  %h1
    = "Inhalt: #{@content_part.position}"
  = link_to 'anderen Inhalt', "/overviews?content_part_id=nil#cms", 'class': 'pure-button'
.pure-g
  .pure-u-1.pure-u-md-1-1
    - unless ContentPart::FILES.include?(@content_part.type)
      .field
      - unless @content_part.type.eql?("Wordelement")
        = @content_part.title
    %br
    -if @content_part.id
      - form_url = content_part_path(@content_part)
    - else
      - form_url = content_parts_path

    = form_for @content_part, as: :content_part, url: form_url do |f|
      - if @content_part.errors.any?
        #error_explanation
          %h4= "#{pluralize(@content_part.errors.count, "error")} prohibited this content_part from being saved:"
          %ul
            - @content_part.errors.full_messages.each do |msg|
              %li= msg
      - if @content_part.type.eql?("Wordelement")
        = f.hidden_field :title, value: @content_part.position
      - else
        .field
          = f.label :title
          = f.text_field :title
      = f.hidden_field :type, value: f.object.type
      = f.hidden_field :position, value: @content_part.position
      - unless ContentPart::FILES.include?(@content_part.type)
        = f.hidden_field :page_ids, multiple: true, value: @page.id
      - unless @content_part.type.eql?("Wordelement") || ["PdfFile", "JsFile", "CssFile"].include?(@content_part.type)
        .field
          = f.label :template_element_id
          = TemplateElement.render_dropdown("content_part", "template_element_id", f.object.template_element&.title, @content_part.type)
      - if @content_part.type.eql? "Picture"
        .field
          = f.label :image
          = f.file_field :image

          - if @content_part.image?
            = image_tag(@content_part.image.url, alt: 'Image', class: 'width-70')

            = label_tag :remove_image do
              Remove image
              = f.check_box :remove_image
      - if @content_part.type.eql? "PdfFile"
        .field
          = f.label :pdf
          = f.file_field :pdf

        - if @content_part.pdf?
          = @content_part.to_s

          = label_tag :remove_pdf do
            Remove Pdf
            = f.check_box :remove_pdf
      - if @content_part.type.eql? "CssFile"
        .field
          = f.label :data_text
          = f.text_area :data_text, rows: 5, cols: 100, class: "edit_template"
        .field
          = f.label :css_file
          = f.file_field :css_file

          - if @content_part.css_file?
            = "<br><a href=\"#{@content_part.css_file.url}\">#{@content_part.css_file.url}</a>".html_safe


            = label_tag :remove_css_file do
              Remove Javascript File
              = f.check_box :remove_css_file
      - if @content_part.type.eql? "JsFile"
        .field
          = f.label :data_text
          = f.text_area :data_text, rows: 5, cols: 100, class: "edit_template"
        .field
          = f.label :js_file
          = f.file_field :js_file

          - if @content_part.js_file?
            = "<br><a href=\"#{@content_part.js_file.url}\">#{@content_part.js_file.url}</a>".html_safe


            = label_tag :remove_js_file do
              Remove Css File
              = f.check_box :remove_js_file
      - if @content_part.type.eql?("Wordelement")
        .field
          = f.text_field :text
          = f.submit 'Save', 'class': 'pure-button'
          = link_to 'Abbrechen', "/overviews?content_part_id=nil#cms", 'class': 'pure-button'
      - if @content_part.type.eql?("Textelement")
        .field
          = f.label :text
          = f.text_area :text, rows: 9, cols: 100, class: "edit_template"
      - if @content_part.type.eql? "Urlelement"
        .field
          = f.label :text
          = f.text_area :text, rows: 5, cols: 100, class: "edit_template"
        .field
          = f.label :target_path
          = f.text_field :target_path
        .field
          = f.label :data_text
          = f.text_area :data_text, rows: 5, cols: 100, class: "edit_template"
      - unless @content_part.type.eql?("Wordelement")
        .actions
          = f.submit 'Save', 'class': 'pure-button'
          = link_to 'Abbrechen', "/overviews?content_part_id=nil#cms", 'class': 'pure-button'
          - if @content_part.id
            = link_to 'Destroy', content_part_path(@content_part), method: :delete, data: { :confirm => 'Sind sie sicher?' }, 'class': 'pure-button'
